services:
  app:
    build: .
    ports:
      - 8000:8000
    env_file:
      - .env
    environment:
      - MINIO_ENDPOINT=minio:9000
    depends_on:
      - minio
      - redis
    networks:
      - canary-network
  minio:
    image: quay.io/minio/minio
    ports:
      - "9000:9000"
      - "9001:9001"
    environment:
      MINIO_ROOT_USER: ${MINIO_ACCESS_KEY}
      MINIO_ROOT_PASSWORD: ${MINIO_SECRET_KEY}
    command: server /data --console-address ":9001"
    volumes:
      - minio_data:/data
    networks:
      - canary-network
    healthcheck:
      test: ["CMD", "curl", "-f", "http://localhost:9000/minio/health/live"]
      interval: 30s
      timeout: 20s
      retries: 3
  
  redis:
    image: redis:8.4-alpine
    ports:
      - "6379:6379"
    volumes:
      - redis_data:/data
    command: redis-server --appendonly yes --appendfsync everysec
    networks:
      - canary-network
    healthcheck:
      test: ["CMD", "redis-cli", "ping"]
      interval: 10s
      timeout: 5s
      retries: 5

  celery:
    build: .
    command: >
      /app/.venv/bin/celery
      -A app.worker.celery_worker
      worker
      --loglevel=INFO
    env_file:
      - .env
    depends_on:
      - redis
      - minio
    networks:
      - canary-network

networks:
  canary-network:
    driver: bridge

volumes:
  minio_data:
  redis_data: